server:
  error:
    includeStacktrace: never
    include-message: never
spring:
  datasource:
    url: ${db_url}
    driver-class-name: org.postgresql.Driver
    username: ${user}
    password: ${password}
  jpa:
    open-in-view: false
#    properties:
#      jakarta:
#        persistence:
#          schema-generation:
#            scripts:
#              action: create
#              create-target: src/main/resources/db/migration/schema.sql
    hibernate:
      ddl-auto: update # validate: no changes update: append
    show-sql: false