spring:
  datasource:
    url: ${db_url}
    driver-class-name: org.postgresql.Driver
    username: ${user}
    password: ${password}
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    show-sql: false